<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    {{!--
    <link rel="stylesheet" type="text/css" href="../css/results.css"> --}}
    <script src="../salarioLiquido.js"></script>
    <title>Cadastro</title>
</head>

<body>
    <div class="master-container">
        <h1>Cadastro</h1>
        <form class="form-container" action="/cadastro" method="post">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome">
            </div>
            
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="email" name="email">
            </div>

            <div class="form-group">
                <label for="senha">Senha:</label>
                <input type="password" class="form-control" id="senha" name="senha">
            </div>
            <div class="form-group">
                <label for="cargo">Cargo:<br><br>
                0 - admin
                1 - Usuário
                </label>
                <input type="text" class="form-control" id="cargo" name="cargo">
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
        <a href="/"><button type="submit" class="btn btn-primary" style="margin-top: 10px;">Fazer login</button></a>
    </div>
</body>

</html>